.bloc {
    display: block;
}
.flex{
    display: flex;
}
html {
    font-size: 16px;
}
main {
    border: 1px solid black;
    width: 600px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: "Agency FB";
}
.boite {
    border: 1px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}
h1 {
    padding-left: 1rem;
}
h2 {
    padding-left: 2rem;
}
.bouton {
    text-align: center;
    padding: 25px 0;
}
label {
    padding: 0.5rem 0;
}
.nom1{
    margin-left: 30px;
}

.name1{
    margin-left: 5px;

}
.valide:invalid{
    background-image:url("wrong-icon.png") ;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: top right ;
}
.valide:valid{
    background-image:url("tick.png") ;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: top right ;
}
.disable{
    font-size: .75rem;
}
.input{
    width: 12rem;
}
.patate{
    width: 1rem;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 125px;
    padding-left: 3.35rem;
    font-size: .75rem;
}
.block{
    display: block;
}
.text{
    padding-right: 1rem;
}
